<a href="https://colab.research.google.com/github/mrnobodygivesfuck/mrnobodygivesfuck/blob/numpy-and-padas-tut/praticalsession_18thfeb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Toyota.csv', index_col=0)
df.head(10)

   Price   Age     KM FuelType    HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel    90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel    90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel    90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel    90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel    90       0.0          0  2000      3    1170
5  12950  32.0  61000   Diesel    90       0.0          0  2000      3    1170
6  16900  27.0     ??   Diesel  ????       NaN          0  2000      3    1245
7  18600  30.0  75889      NaN    90       1.0          0  2000      3    1245
8  21500  27.0  19700   Petrol   192       0.0          0  1800      3    1185
9  12950  23.0  71138   Diesel  ????       NaN          0  1900      3    1105

In [9]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Toyota.csv', index_col=0)
df.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

In [10]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Toyota.csv', index_col=0)
df.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [50]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Toyota.csv', index_col=0,na_values=["??","????"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

In [25]:
print(np.unique(df["Age"]))

[ 1.  2.  4.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18. 19. 20.
 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36. 37. 38. 39.
 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50. 51. 52. 53. 54. 55. 56. 57.
 58. 59. 60. 61. 62. 63. 64. 65. 66. 67. 68. 69. 70. 71. 72. 73. 74. 75.
 76. 77. 78. 79. 80. nan]

In [20]:
print(np.unique(df["KM"]))

['1' '10000' '100123' ... '99865' '99971' '??']

In [24]:
print(np.unique(df['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']

In [14]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Toyota.csv', index_col=0)
df.size

14360

In [15]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Toyota.csv', index_col=0)
df.ndim

2

In [16]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Toyota.csv', index_col=0)
df.memory_usage

<bound method DataFrame.memory_usage of       Price   Age     KM FuelType  ... Automatic    CC  Doors  Weight
0     13500  23.0  46986   Diesel  ...         0  2000  three    1165
1     13750  23.0  72937   Diesel  ...         0  2000      3    1165
2     13950  24.0  41711   Diesel  ...         0  2000      3    1165
3     14950  26.0  48000   Diesel  ...         0  2000      3    1165
4     13750  30.0  38500   Diesel  ...         0  2000      3    1170
...     ...   ...    ...      ...  ...       ...   ...    ...     ...
1431   7500   NaN  20544   Petrol  ...         0  1300      3    1025
1432  10845  72.0     ??   Petrol  ...         0  1300      3    1015
1433   8500   NaN  17016   Petrol  ...         0  1300      3    1015
1434   7250  70.0     ??      NaN  ...         0  1300      3    1015
1435   6950  76.0      1   Petrol  ...         0  1600      5    1114

[1436 rows x 10 columns]>

In [17]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Toyota.csv', index_col=0)
df.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [19]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Toyota.csv', index_col=0)
df.select_dtypes(exclude=[object])

      Price   Age  MetColor  Automatic    CC  Weight
0     13500  23.0       1.0          0  2000    1165
1     13750  23.0       1.0          0  2000    1165
2     13950  24.0       NaN          0  2000    1165
3     14950  26.0       0.0          0  2000    1165
4     13750  30.0       0.0          0  2000    1170
...     ...   ...       ...        ...   ...     ...
1431   7500   NaN       1.0          0  1300    1025
1432  10845  72.0       0.0          0  1300    1015
1433   8500   NaN       0.0          0  1300    1015
1434   7250  70.0       1.0          0  1300    1015
1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 6 columns]

In [27]:
df1=pd.read_csv('/content/Toyota.csv',index_col=0)
df['Age'].nbytes

11488

In [32]:
df['FuelType']= df['FuelType'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   category
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: category(1), float64(2), int64(4), object(3)
memory usage: 113.7+ KB

In [34]:
print(np.unique(df['MetColor']))

[ 0.  1. nan]

In [37]:
df['MetColor'] = df['MetColor'].astype('object')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   category
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   object
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: category(1), float64(1), int64(4), object(4)
memory usage: 113.7+ KB

In [40]:
print(np.unique (df['Doors']))

['2' '3' '4' '5' 'five' 'four' 'three']

In [41]:
df['Doors'].nbytes

11488

In [46]:
df['Doors']=df['Doors'].astype(int))
print(np.unique(df['Doors']))

SyntaxError: ignored

In [ ]:
df['Doors']=df['Doors'].replace('four',4,inplace=True)

In [43]:
df['Doors'].nbytes

11488

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   category
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   object
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
 10  Doprs      0 non-null      object
dtypes: category(1), float64(1), int64(4), object(5)
memory usage: 124.9+ KB

In [48]:
sample=df.copy(deep=False)
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   category
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   object
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      0 non-null      object
 9   Weight     1436 non-null   int64
 10  Doprs      0 non-null      object
dtypes: category(1), float64(1), int64(4), object(5)
memory usage: 124.9+ KB

In [49]:
df.Doors =df.Doors.replace(['five','four','three'],['5','4','3'])